* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: white;
    --header-bg: white;
    --nav-text: black;
    --nav-hover: #2782B9;
    --welcome-bg: #933380;
    --welcome-text: white;
    --box-shadow: rgba(0,0,0,0.18);
    --calc-bg: white;
    --tituloInput-text: black;
    --tooltip-bg: rgba(0, 0, 0, 0.8);
    --tooltip-text: white;
    --contDados-border: #C4C4C4;
    --contDados-title: #2782B9;
    --inputVar-bg: white;
    --inputVar-border: #C4C4C4;
    --inputVar-focus: #daeef8;
    --buttonCalc-bg: #2782B9;
    --buttonCalc-border: #C4C4C4;
    --buttonCalc-hover: #178bd3;
    --footer-bg: #933380;
    --footer-text: white;
    --footer-hover: #178bd3;
    --footer-divider: rgb(191, 193, 196);
}

.dark-mode:root {
    --body-bg: #202040;
    --header-bg: #202040;
    --nav-text: #e7e7e7;
    --nav-hover: #b030b0;
    --welcome-bg: #602080;
    --welcome-text: #e7e7e7;
    --box-shadow: rgba(0,0,0,0.18);
    --calc-bg: #202040;
    --tituloInput-text: #e7e7e7;
    --tooltip-bg: black;
    --tooltip-text: white;
    --contDados-border: #b030b0;
    --contDados-title: #68bef3;
    --inputVar-bg: #e7e7e7;
    --inputVar-border: #C4C4C4;
    --inputVar-focus: #f1f7fa;
    --buttonCalc-bg: #962b96;
    --buttonCalc-border: #C4C4C4;
    --buttonCalc-hover: #b030b0;
    --footer-bg: #602080;
    --footer-text: #e7e7e7;
    --footer-hover: #b030b0;
    --footer-divider: rgb(191, 193, 196);
}

/* Remove as setas do campo input='number' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: var(--body-bg);
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
header{
    display: flex;
    justify-content: center;
    height: 3.5rem;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    background: var(--header-bg);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}

.container img {
    /* display: flex; */
    height: 1.2rem;
}

#modeSwitch {
    cursor: pointer;
    display: inline;
    height: 1.2rem;
    text-align: right;
    transform: translate(1rem, 0.2rem);
}

nav a {
    font-size: 1.2rem;
    padding: 0.7rem;
    font-weight: 500;
    color: var(--nav-text);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover);
    border-bottom:0.3rem solid var(--nav-hover);
}


/* SECTION WELCOME */
.sectionWelcome {
    background-color: var(--welcome-bg);
    color: var(--welcome-text);
    height: 25rem;
    text-align: center;
}

#textoWelcome {
    display: inline-block;
    width: 23rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: -1rem;
    text-align: justify;
    padding: 1rem;
}

#textoWelcome h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#textoWelcome h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}

#imagemWelcome {
    height: 19rem;
    width: 19rem;
    display: inline-block;
    margin: auto;
    margin-left: 2rem;
    transform: translateY(1rem);
    background-image: url('/images/img-welcome-workers.png');
    border-radius: 2rem;
    background-size: cover;
    -webkit-box-shadow: 5px 5px 15px 5px var(--box-shadow); 
    box-shadow: 5px 5px 15px 5px var(--box-shadow);
}

/* SECTION CALC */
.sectionCalc {
    background-color: var(--calc-bg);
}

.iconeInfo {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(20%);
    cursor: pointer;
}

.tooltiptext {
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-color: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: 0.37rem;
    padding: 0.5rem 0.6rem;
    width: 15rem;
    text-align: justify;
    font-size: 0.8rem;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transform: translate(-54%, 2rem);
}
  
.iconeInfo:hover + .tooltiptext {
    /* display: inline-block; */
    visibility: visible;
    opacity: 1;
}

.iconeInfo + .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg) transparent;
}


.containerDados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7rem 10rem 10rem;
    grid-gap: 1rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border: 2px solid var(--contDados-border);
    border-radius: 0.5rem;
}

.titleContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    color: var(--contDados-title);
    margin: 3rem 2rem 2rem 3rem;
}

.inputVar {
    margin-left: 3rem;
    margin-bottom: 3em;
}

.tituloInput {
    /* display: inline-block;
    text-align: left; */
    font-size: 1rem;
    font-weight: 500;
    color: var(--tituloInput-text);
}

.inputVar input {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    width: 18rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--inputVar-bg);
    border: 1px solid var(--inputVar-border);
}

.inputVar input:focus {
    background-color: var(--inputVar-focus);
    outline: 0;
}

/* .inputReadonly {
    
} */

input[type=range] {
    margin-top: -0.3rem;
    display: none;
}

#valorRentabilidade {
    transform: translateY(-2rem);
}


.buttonCalc {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.buttonCalcular {
    display: block;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    /* letter-spacing: 1px; */
    width: 15rem;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: auto;
    color: white;
    transform: translateY(-3.5rem);
    background-color: var(--buttonCalc-bg);
    border: 1px solid var(--buttonCalc-border);
    cursor: pointer;
    transition: all 0.2s;
}

.buttonCalcular:hover{
    /* box-shadow: 1px 1px 2px 1px var(--box-shadow);
    box-shadow: 1px 1px 2px 1px var(--box-shadow); */
    background-color: var(--buttonCalc-hover);
}

footer {
    height: 18rem;
    background-color: var(--footer-bg);
}

footer img {
    display: block;
    text-align: left;
    height: 1.3rem;
    margin-left: 3rem;
    transform: translateY(3rem);
}

.infoFooter {
    display: block;
    width: 30rem;
    margin-left: 3rem;
    margin-top: 5rem;
    color: var(--footer-text);
    text-align: justify;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 400;
}

.linksFooter {
    display: block;
    width: 10rem;
    margin-left: 38rem;
    margin-top: -3rem;
    color: var(--footer-text);
    text-align: left;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 400;
}

footer a {
    display: block;
    color: var(--footer-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-hover);
}

/* hr.solid {
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-radius: 1px;
    width: 95%;
    margin: auto;
    transform: translateY(1rem);
} */

.divider {
	position: relative;
	margin-top: 2rem;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
    background-image: linear-gradient(to right, transparent, var(--footer-divider), transparent);
}

.direitosFooter {
    display: block;
    width: 30rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    color: var(--footer-text);
    text-align: justify;
    line-height: 1.5;
    font-size: 0.7rem;
    font-weight: 400;
}