* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Remove as setas do campo input='number' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.divHeader{
    text-align: right;
    height: 3.2rem;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    background: white;
}

.logoSquad {
    display: block;
    text-align: left;
    width: 9rem;
    height: 1rem;
    margin-left: 1rem;
    transform: translateY(1.2rem);
}

header a {
    display: inline-block;
    font-size: 1rem;
    margin-right: 3rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    /* transform: translate(0, 0.625rem); */
}

header a:hover {
    color: #933380;
}


.sectionWelcome {
    background-color: #933380;
    color: #fff;
    height: 25rem;
    text-align: center;
}

#textoWelcome {
    display: inline-block;
    width: 23rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: -1rem;
    text-align: justify;
    padding: 1rem;
}

#textoWelcome h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#textoWelcome h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}

#imagemWelcome {
    height: 19rem;
    width: 19rem;
    display: inline-block;
    margin: auto;
    margin-left: 2rem;
    transform: translateY(1rem);
    background-image: url('https://mixkit.imgix.net/art/preview/mixkit-co-workers-doing-a-high-five-after-a-planning-meeting-396-original-large.png');
    border-radius: 2rem;
    background-size: cover;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18);
}


.sectionCalc {
    background-color: white;
}

.iconeInfo {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(20%);
    cursor: pointer;
}

.tooltiptext {
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0.37rem;
    padding: 0.5rem 0.6rem;
    width: 15rem;
    text-align: justify;
    font-size: 0.8rem;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transform: translate(-54%, 2rem);
}
  
.iconeInfo:hover + .tooltiptext {
    /* display: inline-block; */
    visibility: visible;
    opacity: 1;
}

.iconeInfo + .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}


.containerDados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7rem 10rem 10rem;
    grid-gap: 1rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border: 2px solid #C4C4C4;
    border-radius: 0.5rem;
}

.titleContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    color: #2782B9;
    margin: 3rem 2rem 2rem 3rem;
}

.inputVar {
    margin-left: 3rem;
    margin-bottom: 3em;
}

.tituloInput {
    /* display: inline-block;
    text-align: left; */
    font-size: 1rem;
    font-weight: 500;
}

.inputVar input {
    display: block;
    padding: 1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #C4C4C4;
}

.inputVar input:focus {
    background-color: #daeef8;
    outline: 0;
}

input[type=range] {
    margin-top: -0.3rem;
    /* display: none; */
}

#valorRentabilidade {
    transform: translateY(-2rem);
}


.buttonCalc {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.buttonCalcular {
    display: block;
    font-size: 1.3rem;
    width: 15rem;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: auto;
    color: white;
    transform: translateY(-3.5rem);
    background-color: #2782B9;
    border: 1px solid #C4C4C4;
    cursor: pointer;
    transition: all 0.2s;
}

.buttonCalcular:hover{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
    background-color: #178bd3;
}