* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.divHeader{
    text-align: right;
    height: 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
}

.logoSquad {
    display: block;
    text-align: left;
    width: 9rem;
    height: 1rem;
    transform: translateY(0.9375rem);
}

header h3 {
    display: inline-block;
    font-size: 1rem;
    margin-right: 3rem;
    font-weight: 500;
    /* transform: translate(0, 0.625rem); */
}

.sectionWelcome {
    background-color: #933380;
    color: #fff;
    height: 27rem;
}

#textoWelcome {
    display: block;
    width: 23rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    transform: translate(-12rem, 5rem);
}

#textoWelcome h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#textoWelcome h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}

.iconeInfo {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(20%);
    cursor: pointer;
}

.tooltiptext {
    /* visibility: hidden; */
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background-color: black;
    color: #fff;
    border-radius: 0.37rem;
    padding: 0.5rem 0.6rem;
    width: 15rem;
    text-align: justify;
    font-size: 0.8rem;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transform: translate(-54%, 2rem);
  }
  
  .iconeInfo:hover + .tooltiptext {
    /* visibility: visible; */
    opacity: 1;
  }

  .iconeInfo + .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }


.sectionCalc {
    height: 32rem;
    background-color: white;
}

#divCalc {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 50rem;
    height: 27rem;
    border: 1px solid #C4C4C4;
    border-radius: 0.5rem;
}

/* Remove as setas do campo input='number' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.inputVar {
    display: block;
}

.tituloInput {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.inputVar input {
    display: block;
    padding: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #C4C4C4;
}

.inputVar input:focus { 
    border: 1px solid #933380;
    outline: 0;
  }


#valorCompra {
    text-align: left;
    margin-left: 2.5rem;
    margin-top: 4rem;
}

#valorAluguel {
    margin-left: 27rem;
    transform: translateY(-5rem);
}

#custosLocacao {
    text-align: left;
    margin-left: 2.5rem;
    margin-top: 2rem;
}