* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: 'Montserrat', sans-serif;
}

.quadro {
    display:flex;
    flex-direction:column;
    height:35rem;
    width:50rem;
    border:0.063rem solid #444;
    border-radius:1rem;
    padding:0rem 1rem;
    background-image:url(/resultOffice/images/kkArtboard\ 1.png);
    background-color:#f5f5f5;
}

#titulo {
    font-size:2rem;
    font-weight:700;
    color:#2782B9;
    margin:1rem 0rem;
}

.pergunta {
    font-size:1.5rem;
    margin:1rem 0rem;
}

#painel_despesas {
    display:flex;
    width:48rem;
    margin-bottom:2rem;
}

#despesas, #despesas_valor {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#despesas li, #despesas_valor li {
    padding:0.5rem;
    border:0.063rem solid #fff;
    border-radius:0.3rem;
    list-style:none;
}

#despesas li {
    background-color:#2782B9;
    color:#fff;    
}

#despesas_valor li {
    background-color:#B8D0DB;
}

#painel_despesas img {
    margin-left:15rem;
    border-radius:0.5rem;
    width:15rem;
}

#economia_total {
    font-size:2rem;
    background-color:#933380;
    color:#fff;
    border-radius:0.3rem;
    padding:1rem;
    width:fit-content;
}
