* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}

#resultado_pagina {
    background-color:#2782B9;
    color:#fff;
    height:27rem;
    width:100vw;
    max-width:100%;
}

.texto_resultado {
    width: 23rem;
    margin-left: 12rem;
    text-align: justify;
    transform: translateY(50px)
}

.texto_resultado h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
}

.texto_resultado h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#resultado_info {
    margin:1rem 0rem;
}

.quadro {
    display:flex;
    flex-direction:column;
    height:35rem;
    width:50rem;
    border:0.063rem solid #444;
    border-radius:1rem;
    padding:0rem 1rem;
    background-image:url(/resultOffice/images/kkArtboard\ 1.png);
    background-color:#fff;
}

#titulo {
    font-size:2rem;
    font-weight:700;
    color:#2782B9;
    margin:1rem 0rem;
}

.pergunta {
    font-size:1.5rem;
    margin:1rem 0rem;
}

#painel_despesas {
    display:flex;
    width:48rem;
    margin-bottom:1rem;
}

#despesas, #despesas_valor {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#despesas li, #despesas_valor li {
    padding:0.5rem;
    border:0.063rem solid #fff;
    border-radius:0.3rem;
    list-style:none;
}

#despesas li {
    background-color:#2782B9;
    color:#fff;    
}

#despesas_valor li {
    background-color:#B8D0DB;
}

#painel_despesas img {
    margin-left:5rem;
    border-radius:0.5rem;
    width:24rem;
    box-shadow:0rem 0rem 0.5rem 0rem #000;
}

#economia_total {
    font-size:2rem;
    background-color:#933380;
    color:#fff;
    border-radius:0.3rem;
    padding:1rem;
    width:fit-content;
}
