* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: #f3f3f3;
    --header-bg: #282852;
    --menu-text: #e7e7e7;
    --menu-hover: #72caec;
    --welcome-bg: #1f648f;
    --welcome-text: #fff;
    --box-shadow: rgba(0,0,0,0.18);
    --calc-bg: #f3f3f3;
    --tooltip-bg: rgba(0, 0, 0, 0.8);
    --tooltip-text: #fff;
    --contDados-bg: #fff;
    --contDados-border: #C4C4C4;
    --contDados-title: #2782B9;
    --tituloInput-text: #000;
    --inputVar-bg: #fcfcfc;
    --inputVar-border: #C4C4C4;
    --inputVar-focus: #daeef8;
    --readOnly--bg: #eeeeee;
    --buttonCalc-bg: #2782B9;
    --buttonCalc-text: #fff;
    --buttonCalc-border: #C4C4C4;
    --buttonCalc-hover: #178bd3;
    --footer-bg: #282852;
    --footer-text: #fff;
    --footer-hover: #72caec;
    --footer-divider: #bfc1c4;
}

.dark-mode:root {
    --body-bg: #202040;
    --header-bg: #282852;
    --menu-text: #e7e7e7;
    --menu-hover: #72caec;
    --welcome-bg: #602080;
    --welcome-text: #e7e7e7;
    --box-shadow: rgba(0,0,0,0.18);
    --calc-bg: #22272e;
    --tooltip-bg: #000;
    --tooltip-text: #fff;
    --contDados-bg: #2d333b;
    --contDados-border: #b030b0;
    --contDados-title: #68bef3;
    --tituloInput-text: #e7e7e7;
    --inputVar-bg: #e7e7e7;
    --inputVar-border: #C4C4C4;
    --inputVar-focus: #f1f7fa;
    --readOnly--bg: #C4C4C4;
    --buttonCalc-bg: #962b96;
    --buttonCalc-text: #fff;
    --buttonCalc-border: #C4C4C4;
    --buttonCalc-hover: #b030b0;
    --footer-bg: #282852;
    --footer-text: #e7e7e7;
    --footer-hover: #72caec;
    --footer-divider: #bfc1c4;
}



/* Remove as setas do campo input='number' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-bg);
}

header{
    display:flex;
    justify-content:center;
    height: 3.5rem;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    background-color: var(--header-bg);
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0rem 2rem;
    width:100rem;
}

#modeSwitch {
    display:flex;
    height: 1.2rem;
}

.logoSquad {
    height:1.2rem;
}

nav {
    display:flex;
    align-items:center;
}

.menuMobile {
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    width:2.18rem;
    height:2.18rem;
}

.menuLine {
    background-color:var(--menu-text);
    height:0.189rem;
}

.menuMobile:hover {
    cursor:pointer;
}

.menuMobile:hover .menuLine {
    background-color:var(--menu-hover);
}

.menu a {
    font-size:1.2rem;
    padding:0.7rem;
    font-weight:500;
    color:var(--menu-text);
    border-bottom:0.3rem solid transparent;
    text-decoration:none;
}

.menu a:hover {
    color:var(--menu-hover);
    border-bottom:0.3rem solid var(--menu-hover);
}

.modeSwitch {
    margin-left:1.5rem;
    padding:1rem;
    cursor:pointer;
}

.modeSwitch:hover {
    cursor: pointer;
}



.sectionWelcome {
    display:flex;
    justify-content:center;
    align-items:center;
    height:23rem;
    width:100vw;
    max-width:100%;
    background-color: var(--welcome-bg);
    text-align: center;
}

.welcomeArea {
    display:flex;
    justify-content:space-between;
    width:50rem;
}

#textoWelcome {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:28rem;
    text-align: left;
    color: var(--welcome-text);
}

#textoWelcome h1 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: left;
}

#textoWelcome h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
    text-align:left;
}

#imagemWelcome {
    height: 19rem;
    width: 19rem;
    background-image: url('/images/img_welcome_imovel_2.png');
    border-radius: 2rem;
    background-size: cover;
    -webkit-box-shadow: 5px 5px 15px 5px var(--box-shadow); 
    box-shadow: 5px 5px 15px 5px var(--box-shadow);
}



.sectionCalc {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: var(--calc-bg);
}

.iconeInfo {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(20%);
    cursor: pointer;
}

.tooltiptext {
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-color: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: 0.37rem;
    padding: 0.5rem 0.6rem;
    width: 12rem;
    text-align:left;
    font-size: 0.8rem;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transform: translate(-95%, -102%);
}
  
.iconeInfo:hover + .tooltiptext {
    /* display: inline-block; */
    visibility: visible;
    opacity: 1;
}

.iconeInfo + .tooltiptext::after {
    content: " ";
    position: absolute;
    transform: rotate(180deg);
    top: 100%;  /* At the top of the tooltip */
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg) transparent;
}



.containerDados {
    display:flex;
    flex-direction:column;
    width: 50rem;
    margin-top: 4rem;
    padding:2rem 2rem 0rem 2rem;
    border: 2px solid var(--contDados-border);
    background: var(--contDados-bg);
    border-radius: 0.5rem;
}

.titleContainer {
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    color: var(--tituloInput-text);
}

.inputArea {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:24rem;
}

.inputRow {
    display:flex;
    justify-content:space-between;
    height:8.25rem;
    width:45.75rem;
}

/*Ajusta a "coluna" com um único item*/
.singleItem {
    width:23rem;
}

.inputVar, .inputReadonly {
    display:flex;
    flex-direction:column;
}

.tituloInput {
    /* display: inline-block;
    text-align: left; */
    font-size: 1rem;
    font-weight: 500;
    color: var(--tituloInput-text);
}

.inputVar input, .inputReadonly {
    display: block;
    padding: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--inputVar-border);
}

.inputVar input {
    background-color: var(--inputVar-bg);
}

.tituloAviso {
    color:var(--tituloInput-text);
    font-weight: 500;
}

.inputReadonly {
    font-size:0.8rem;
    background-color:var(--readOnly--bg);
}

.inputVar input:focus {
    background-color: var(--inputVar-focus);
    outline: 0;
}


.btnCalcular {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    width:15rem;
    height:4rem;
    padding:0.8rem;
    border-radius:0.5rem;
    color:var(--buttonCalc-text);
    background-color:var(--buttonCalc-bg);
    border: 0px solid var(--buttonCalc-border);
    cursor:pointer;
    text-decoration:none;
    margin:3.5rem 0rem;
}

.btnCalcular:hover {
    background-color: var(--buttonCalc-hover);
}

#btnScroll {
    display:none;
    width:2.5rem;
    height:2.5rem;
    border-radius:1rem;
    background-color:#b030b0;
    cursor:pointer;
    position:fixed;
    right:1.25rem;
    bottom:1.25rem;
    z-index:999;
}



footer {
    display:flex;
    justify-content:center;
    height:16rem;
    width:100vw;
    max-width:100%;
    background-color:var(--footer-bg);
}

/* .column usando no container do footer*/
.column {
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
}

.infoFooter {
    display:flex;
    justify-content:space-between;
    width:46rem;
    color:var(--footer-text);
    line-height:1.5;
    font-size:0.9rem;
    font-weight:400;
}

.linksFooter {
    display: block;
    width:fit-content;
    color:var(--footer-text);
    text-align: left;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 400;
}

footer a {
    display:flex;
    width:fit-content;
    color: var(--footer-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-hover);
}

.divider {
	position:relative;
    top:10.5rem;
	height:0.063rem;
    width:95vw;
    max-width:100%;
}

.div-transparent:before {
	content:"";
	position:absolute;
	top:0;
	left:5%;
	right:5%;
	width:90%;
	height:0.063rem;
    background-image: linear-gradient(to right, transparent, var(--footer-divider), transparent);
}

.direitosFooter {
    display:flex;
    flex-direction:column;
    width: 30rem;
    color:var(--footer-text);
    text-align:left;
    line-height: 1.5;
    font-size: 0.7rem;
    font-weight: 400;
}

.imgDireitos {
    display:flex;
}
  
.imgDireitos a {
    padding:0rem 0.25rem;
}



@media (max-width: 830px) {
    .containerDados {
        align-items:center;
        width: 43.8rem;
        padding:2rem;
        height:auto;
    }
    .inputArea {
        height:30rem;
        align-items:center;
    }
    /*Para blocos com numero par*/
    .even {
        height:40rem;
    }
    .inputRow {
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        height:20rem;
        width:fit-content;
    }
    .singleItem {
        height:10rem;
        width:auto;
    }
    .welcomeArea {
        display:flex;
        justify-content:space-between;
        width:43.8rem;
    }
    #textoWelcome {
        width:23rem;
    }
    #textoWelcome h1 {
        font-size: 1.65rem;
    }
    #textoWelcome h2 {
        font-size:0.90rem;
    }
    .aviso {
        margin-top:3rem;
    }
    .divider {
        top:10rem;
    }
    .column {
        padding:1rem;
        width:45.8rem;
    }
    footer {
        width:51.9rem;
    }
    .infoFooter {
        width:42rem;
    }
}

@media (max-width: 720px) {
    .welcomeArea {
        width:35rem;
    }
    #textoWelcome {
        width:19rem;
    }
    #textoWelcome h1 {
        font-size: 1.05rem;
        margin-bottom:1rem;
    }
    #textoWelcome h2 {
        font-size:0.80rem;
    }
    #imagemWelcome {
        height: 15rem;
        width: 15rem;
    }
    .containerDados {
        width:35rem;
    }
    .aviso {
        text-align:center;
        max-width:16rem;
        margin-top:2rem;
    }
    .column {
        padding:1rem;
        width:37.5rem;
    }
    footer {
        width:51.9rem;
    }
    .linksFooter {
        font-size:0.8rem;
    }
    .infoFooter {
        width:35rem;
        font-size:0.8rem;
    }    
}

@media (max-width: 595px) {
    .menuMobile {
        display:flex;
    }
    .menu {
        display:none;
        flex-direction:column;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        background-color:var(--header-bg);
    }
    .menu a:hover {
        color:var(--menu-text);
        background-color:var(--menu-hover);
    }
    .sectionWelcome {
        height:auto;
    }
    .welcomeArea {
        flex-direction:column;
        align-items:center;
        justify-content:space-evenly;
        width:24rem;
        height:30rem;
    }
    #textoWelcome {
        width: 24rem;
    }
    .containerDados {
        display:flex;
        flex-direction:column;
        width: 24rem;
    }
    .titleContainer {
        font-size:1rem;
    }
    .tooltiptext {
        width: 10rem;
        text-align:left;
        font-size: 0.8rem;
        transform: translate(-95%, -102%);
    }
    .inputVar input, .inputReadonly {
        width:16rem;
    }
    .tituloInput {
        font-size:0.8rem;
    }
    .aviso {
        max-width:14rem;
    }
    .tituloAviso {
        font-size:0.8rem;
    }
    .divider {
        top:12rem;
    }
    .column {
        width:25rem;
    }
    footer {
        flex-direction:column;
        height:auto;
    }
    .infoFooter {
        flex-direction:column;
        width:fit-content;
    }
    .infoFooter p {
        margin-top:1rem;
    }
    .linksFooter {
        margin:1rem 0rem 1.5rem 0rem;
    }
    .linksFooter a {
        padding:0.2rem;
    }
    .direitosFooter {
        width:fit-content;
    }
}

@media (max-width:410px) {
    .welcomeArea {
        width:21rem;
    }
    #textoWelcome {
        width:21rem;
    }
    #imagemWelcome {
        height: 14rem;
        width: 14rem;
    }
    .containerDados {
        width:21rem;
    }
    .inputVar, .inputReadonly {
        width:16rem;
    }
    .tooltiptext {
        transform: translate(-95%, -102%);
    }
    .column {
        width:22rem;
    }
}

@media (max-width:355px) {
    .welcomeArea {
        width:21rem;
    }
    #textoWelcome {
        width:18.5rem;
    }
    #imagemWelcome {
        height: 13rem;
        width: 13rem;
    }
    .containerDados {
        width:18.5rem;
    }
    .inputVar {
        display:flex;
        align-items:center;
    }
    .inputVar input, .inputReadonly {
        width:14rem;
    }
    .inputReadonly {
        font-size:0.72rem;
    }
    .column {
        width:20rem;
    }
    .infoFooter p {
        font-size:0.75rem;
    }
}
