* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root {
    --body-bg: #f3f3f3;
    --header-bg: #fff;
    --menu-text: #000;
    --menu-hover: #2782B9;
    --resultado-bg: #933380;
    --resultado-text: #fff;
    --quadro-border: #C4C4C4;
    --quadro-bg: #fff;
    --quadro-title: #2782B9;
    --quadro-p: #000;
    --tooltip-bg: rgba(0, 0, 0, 0.8);
    --tooltip-text: #fff;
    --valoresTotais-bg: #933380;
    --valoresTotais-texto: #fff;
    --topicosLi-border: #fff;
    --topicosLi-bg: #2782B9;
    --topicosLi-text: #fff;
    --valoresLi-bg: #B8D0DB;
    --painelInfoTopicos-bg: #933380;
    --painelInfoValores-bg: #B795B7;
    --avisoInfo-shadow: 0px 0px #000;
    --buttonCalc-bg: #2782B9;
    --buttonCalc-text: #fff;
    --buttonCalc-border: #C4C4C4;
    --buttonCalc-hover: #178bd3;
    --footer-bg: #933380;
    --footer-text: #fff;
    --footer-hover: #178bd3;
    --footer-divider: #bfc1c4;
}

.dark-mode:root {
    --body-bg: #202040;
    --header-bg: #202040;
    --menu-text: #e7e7e7;
    --menu-hover: #b030b0;
    --resultado-bg: #602080;
    --resultado-text: #e7e7e7;
    --quadro-border: #b030b0;
    --quadro-bg: #292953;
    --quadro-title: #2782B9;
    --quadro-p: #e7e7e7;
    --tooltip-bg: #000;
    --tooltip-text: #fff;
    --valoresTotais-bg: #933380;
    --valoresTotais-texto: #e7e7e7;
    --topicosLi-border: #C4C4C4;
    --topicosLi-bg: #2782B9;
    --topicosLi-text: #e7e7e7;
    --valoresLi-bg: #B8D0DB;
    --painelInfoTopicos-bg: #933380;
    --painelInfoValores-bg: #B795B7;
    --avisoInfo-shadow: 0px 0px #000;
    --buttonCalc-bg: #962b96;
    --buttonCalc-text: #fff;
    --buttonCalc-border: #C4C4C4;
    --buttonCalc-hover: #b030b0;
    --footer-bg: #602080;
    --footer-text: #e7e7e7;
    --footer-hover: #b030b0;
    --footer-divider: #bfc1c4;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--body-bg);
}

header{
    display:flex;
    justify-content:center;
    height: 3.5rem;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    background: var(--header-bg);
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0rem 2rem;
    width:100rem; /*50rem para ficar no centro da página*/
}

#modeSwitch {
    display:flex;
    height: 1.2rem;
}

.logoSquad {
    height:1.5rem;
}

nav {
    display:flex;
    align-items:center;
}

.menuMobile {
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    width:2.18rem;
    height:2.18rem;
}

.menuLine {
    background-color:var(--menu-text);
    height:0.189rem;
}

.menuMobile:hover {
    cursor:pointer;
}

.menuMobile:hover .menuLine {
    background-color:var(--menu-hover);
}

.menu a {
    font-size:1.2rem;
    padding:0.7rem;
    font-weight:500;
    color:var(--menu-text);
    border-bottom:0.3rem solid transparent;
    text-decoration:none;
}

.menu a:hover {
    color:var(--menu-hover);
    border-bottom:0.3rem solid var(--menu-hover);
}

.modeSwitch {
    margin-left:1.5rem;
    padding:1rem;
    cursor:pointer;
}

.modeSwitch:hover {
    cursor: pointer;
}



#melhorOpcao {
    font-weight: bold;
    font-size: 1.9rem;
}

#resultadoPagina {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--resultado-bg);
    color: var(--resultado-text);
    height:8rem;
    width:100vw;
    max-width:100%;
}

h1 {
    font-size:1.75rem;
    font-weight:400;
    line-height:1.5;
    margin-bottom:1rem;
}

#resultadoInfo {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:1rem 0rem;
}

.quadro {
    display:flex;
    flex-direction:column;
    width:50rem;
    border:0.126rem solid var(--quadro-border);
    background-color:var(--quadro-bg);
    border-radius:1rem;
    padding:1rem;
    margin-top:1rem;
}

.quadro p {
    text-align:justify;
    font-size:1.2rem;
    margin:0.5rem 0rem;
    width:fit-content;
    color: var(--quadro-p);
}

#titulo {
    font-size:2rem;
    font-weight:700;
    color:var(--quadro-title);
    margin:0.5rem 0rem;
}



.painelInfo {
    display:flex;
    width:fit-content;
    margin-bottom:1rem;
}

.topicos, .valores {
    padding:0.5rem;
    margin:0.1rem;
    border-radius:0.3rem;
}

.topicos {
    background-color:var(--topicosLi-bg);
    color:var(--topicosLi-text);
}

.valores {
    background-color:var(--valoresLi-bg);
    margin-left:2rem;
}

.painelInfo:nth-child(3n) .topicos {
    background-color:var(--painelInfoTopicos-bg);
}

.painelInfo:nth-child(3n) .valores {
    background-color:var(--painelInfoValores-bg);
}

.seta {
    position:relative;
    top:-2.2rem;
    left:0.6rem;
    height:1rem;
    width:1rem;
}

.allTooltips {
    display:flex;
    flex-direction:column;
}

.divTooltip {
    margin-top:0.5rem;
    margin-bottom:4rem;
}

.iconeInfo {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.tooltiptext {
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: 0.37rem;
    padding: 0.5rem 0.6rem;
    width: 12rem;
    text-align: justify;
    font-size: 0.8rem;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* transform: translate(52.5%, 1rem); */
    transform: translate(5%, -25%);
}
  
.iconeInfo + .tooltiptext::after {
    content: " ";
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg) transparent;
}

.iconeInfo:hover + .tooltiptext {
    /* display: inline-block; */
    visibility: visible;
    opacity: 1;
}



#btnCalcNovamente {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1rem;
    width: 15rem;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: var(--buttonCalc-text);
    background-color: var(--buttonCalc-bg);
    border: 1px solid var(--buttonCalc-border);
    cursor: pointer;
    margin:2.5rem 0rem;
    text-decoration:none;
}

#btnCalcNovamente:hover {
    background-color: var(--buttonCalc-hover);
}



footer {
    display:flex;
    justify-content:center;
    height:16rem;
    width:100vw;
    max-width:100%;
    background-color:var(--footer-bg);
}

/* .column usando no container do footer*/
.column {
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
}

.infoFooter {
    display:flex;
    justify-content:space-between;
    width:46rem;
    color:var(--footer-text);
    line-height:1.5;
    font-size:0.9rem;
    font-weight:400;
}

.linksFooter {
    display: block;
    width:fit-content;
    color:var(--footer-text);
    text-align: left;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 400;
}

footer a {
    display:flex;
    width:fit-content;
    color: var(--footer-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-hover);
}

.divider {
	position:relative;
    top:11rem;
	height:0.063rem;
    width:95vw;
    max-width:100%;
}

.div-transparent:before {
	content:"";
	position:absolute;
	top:0;
	left:5%;
	right:5%;
	width:90%;
	height:0.063rem;
    background-image: linear-gradient(to right, transparent, var(--footer-divider), transparent);
}

.direitosFooter {
    display:flex;
    width: 30rem;
    color:var(--footer-text);
    text-align: justify;
    line-height: 1.5;
    font-size: 0.7rem;
    font-weight: 400;
}



@media (max-width: 830px) {
    .quadro {
        width: 43.8rem;
    }
    .column {
        padding:1rem;
        width:45.8rem;
    }
    footer {
        width:51.9rem;
    }
    .infoFooter {
        width:42rem;
    }
}

@media (max-width: 715px) {
    .quadro {
        width:35rem;
    }
    .column {
        width:37.5rem;
    }
    footer {
        width:51.9rem;
    }
    .infoFooter {
        width:35rem;
    } 
}

@media (max-width: 595px) {
    .quadro {
        width:24rem;
    }
    .painelInfo {
        flex-direction:column;
    }
    .divider {
        top:12.5rem;
    }
    .column {
        width:25rem;
    }
    footer {
        flex-direction:column;
        height:auto;
    }
    .infoFooter {
        flex-direction:column;
        width:fit-content;
    }
    .infoFooter p {
        margin-top:1rem;
    }
    .linksFooter {
        margin:1rem 0rem 1.5rem 0rem;
    }
    .linksFooter a {
        padding:0.2rem;
    }
    .direitosFooter {
        width:fit-content;
    }
}