* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

/* style="display: none;" */
:root {
  --body-bg: #f3f3f3;
  --header-bg: #282852;
  --menu-text: #f3f3f3;
  --menu-hover: #72caec;
  --calc-bg: #f3f3f3;
  --contDados-bg: #fff;
  --contDados-title: #2782B9;
  --contDados-label: #2a88c2;
  --contDados-text: #000;
  --footer-bg: #282852;
  --footer-text: #fff;
  --footer-hover: #72caec;
  --footer-divider: #bfc1c4;
  --nome-site:#b030b0;
}

.dark-mode:root {
  --body-bg: #22272e;
  --header-bg: #282852;
  --menu-text: #f3f3f3;
  --menu-hover: #72caec;
  --calc-bg: #22272e;
  --contDados-bg: #292953;
  --contDados-title: #f3f3f3;
  --contDados-label: #e7e7e7;
  --contDados-text: #f3f3f3;
  --footer-bg: #282852;
  --footer-text: #f3f3f3;
  --footer-hover: #72caec;
  --footer-divider: #bfc1c4;
  --nome-site:#b030b0;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-bg);
}

header{
    display:flex;
    justify-content:center;
    height: 3.5rem;
    background-color: var(--header-bg);
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0rem 2rem;
    width:100rem;
}

#economiz {
    color:var(--menu-text);
    font-size:1.23rem;
    font-weight:700;
    text-decoration:none;
}

.container img {
    display:flex;
    height: 1.2rem;
}

nav {
    display:flex;
    align-items:center;
}

.menuMobile {
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    width:2.18rem;
    height:2.18rem;
}

.menuLine {
    background-color:var(--menu-text);
    height:0.189rem;
}

.menuMobile:hover {
    cursor:pointer;
}

.menuMobile:hover .menuLine {
    background-color:var(--menu-hover);
}

.menu {
    display: flex;
    align-items: flex-start;
}

.menu a {
    width: 100%;
    font-size:1.2rem;
    padding:0.85rem;
    font-weight:500;
    color:var(--menu-text);
    border-bottom:0.3rem solid transparent;
    text-decoration:none;
}

.menu a:hover {
    color:var(--menu-hover);
    border-bottom:0.3rem solid var(--menu-hover);
}

.modeSwitch {
    margin-left:1.5rem;
    padding:1.15rem;
    cursor:pointer;
}

.modeSwitch:hover {
    cursor: pointer;
}

.logoSquad {
    height:1.2rem;
}

/* SECTION CALC */
.sectionHome {
    display:flex;
    flex-direction:column;
    align-items:center;
    /* height: 100vh; */
    background-color: var(--calc-bg);
}

.containerDados {
    /* display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22rem 22rem;
    grid-gap: 1rem; */
    width: 50rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    border: 2px solid #000;
    border: none;
    background: transparent;
    border-radius: 0.5rem;
}

#textoWelcome {
    /* display:flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3; */
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    margin: 3rem 3.18rem 5rem 3.18rem;
}

#textoWelcome h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: var(--contDados-title);
}

#textoWelcome h2 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
    color: var(--contDados-text);
}

#imagemImovel {
    /* display:flex;
    flex-direction:column;
    margin:auto; */
    display: inline-block;
    height: 12rem;
    width: 12rem;
    margin-right: 13rem;
    margin-left: 7rem;
    /*background-image: url('/images/buildings_icon.png');
    background-size: contain;*/
}

#imagemCarro {
    /* display:flex;
    flex-direction:column;
    margin:auto; */
    display: inline-block;
    height: 8rem;
    width: 9.5rem;
    /* transform: translateY(3.5rem); */
    /*background-image: url('/images/car_icon.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}

#imovelA {
    height: 12rem;
    width: 12rem;
}
#carroA {
    display: block;
    /* height: 8.5rem;
    width: 10.5rem; */
}

#imovelImovel {
    width: 12rem;
    height: 12rem;
}

#labelImovel {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2;
    margin-bottom: -2rem;
    transform: translateY(1rem);
    margin-left: auto;
    color: var(--contDados-label);
}

#labelCarro {
    font-size: 1.25rem;
    font-weight: 600;
    /* line-height: 1.5; */
    margin-bottom: -2rem;
    transform: translate(-0.35rem, 1rem);
    text-align: center;
    color: var(--contDados-label);
    text-decoration: none;
    cursor: pointer;
}

#labelImovel a {
    color: var(--contDados-label);
    text-decoration: none;
}

#labelCarro a {
    color: var(--contDados-label);
    text-decoration: none;
}

#btnScroll {
    display:none;
    width:2.5rem;
    height:2.5rem;
    filter:opacity(30%);
    cursor:pointer;
    position:fixed;
    right:1.25rem;
    bottom:1.25rem;
    z-index:999;
}

footer {
    display:flex;
    justify-content:center;
    height:16rem;
    width:100vw;
    max-width:100%;
    background-color:var(--footer-bg);
}

/* .column usando no container do footer*/
.column {
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
}

.infoFooter {
    display:flex;
    justify-content:space-between;
    width:46rem;
    color:var(--footer-text);
    line-height:1.5;
    font-size:0.9rem;
    font-weight:400;
}

.linksFooter {
    display: block;
    width:fit-content;
    color:var(--footer-text);
    text-align: left;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 400;
}

footer a {
    display:flex;
    width:fit-content;
    color: var(--footer-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-hover);
}

.divider {
    position:relative;
    top:10.5rem;
    height:0.063rem;
    width:95vw;
    max-width:100%;
}

.div-transparent:before {
    content:"";
    position:absolute;
    top:0;
    left:5%;
    right:5%;
    width:90%;
    height:0.063rem;
    background-image: linear-gradient(to right, transparent, var(--footer-divider), transparent);
}

.direitosFooter {
    display:flex;
    flex-direction:column;
    width: 30rem;
    color:var(--footer-text);
    text-align:left;
    line-height: 1.5;
    font-size: 0.7rem;
    font-weight: 400;
}

.imgDireitos {
    display:flex;
}

.imgDireitos a {
    padding:0rem 0.25rem;
}


@media (max-width: 830px) {
    .containerDados {
        width: 43.8rem;
        margin-left:0;
        margin-right:0;
    }
    .titleContainer {
        margin-left:1.63rem;
    }
    #btnScroll {
        right:0.7rem;
        bottom:1rem;
    }
    .divider {
        top:10rem;
    }
    .column {
        padding:1rem;
        width:45.8rem;
    }
    #imagemImovel {
        margin-right: 11rem;
        margin-left: 5rem;
    }
    footer {
        width:51.9rem;
    }
    .infoFooter {
        width:42rem;
    }
}

@media (max-width: 720px) {
    #textoWelcome {
        width: 32rem;
        margin-bottom: 2rem;
    }
    #textoWelcome h1 {
        font-size: 1.5rem;
    }
    #textoWelcome h2 {
        font-size: 1rem;
    }
    #imagemWelcome {
        height: 16rem;
        width: 16rem;
    }
    .containerDados {
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top: 2rem;
        margin-bottom: 10rem;
        grid-gap:3rem;
        width:35rem;
    }
    #imagemImovel {
        margin: auto;
    }
    #imagemCarro {
        margin-top: 2rem;
        width: 9.5rem;
        /* height: 7.5rem; */
    }
    /* #carroA {
        width: 9.7rem;
        height: 7.5rem;
    } */

    #labelCarro {
        font-size: 1.15rem;
        margin-bottom: -2rem;
        transform: translate(0rem, 1rem);
        text-align: center;
    }
    .titleContainer{
        width:fit-content;
        justify-content:center;
        margin:0;
    }
    .titleContainer {
        margin: 3rem 1rem 2rem 1rem;
    }
    .divider {
        top:10rem;
    }
    .column {
        padding:1rem;
        width:37.5rem;
    }
    footer {
        width:51.9rem;
    }
    .linksFooter {
        font-size:0.8rem;
    }
    .infoFooter {
        width:35rem;
        font-size:0.8rem;
    }   
}

@media (max-width: 595px) {
    .menuMobile {
        display:flex;
    }
    .menu {
        display:none;
        flex-direction:column;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        background-color:var(--header-bg);
    }
    .menu a:hover {
        color:var(--menu-text);
        background-color:var(--menu-hover);
    }
    .sectionWelcome {
        flex-direction:column;
        height:auto;
    }
    #textoWelcome {
        width: 23rem;
        margin:0;
    }
    #textoWelcome h1 {
        font-size: 1.75rem;
        margin-bottom:2rem;
        width:16rem;
        margin-left:auto;
        margin-right:auto;
    }
    #textoWelcome h2 {
        font-size: 1rem;
    }
    #imagemWelcome {
        height: 16rem;
        width: 16rem;
        margin-top:0;
        margin-bottom:2rem;
    }
    .containerDados {
        display:flex;
        flex-direction:column;
        margin-top: 3rem;
        width: 24rem;
    }
    #imovelImovel {
        height: 10rem;
        width: 10rem;
    }
    #imagemImovel {
        height: 10rem;
        width: 10rem;
        background-repeat: no-repeat;
    }

    #imagemCarro {
        width: 8.5rem;
        height: 6.5rem;
    }

    #imovelA {
        height: 10rem;
        width: 10rem;
    }

    /* #carroA {
        width: 8.5rem;
        height: 6.5rem;
    } */

    #labelImovel {
        display: block;
        width: 11rem;
        font-size: 1.15rem;
        margin-bottom: -2rem;
        transform: translate(-0.4rem, 0rem);
    }
    #labelCarro {
        display: block;
        font-size: 1.15rem;
        margin-bottom: -2rem;
        transform: translate(0rem, 0.5rem);
        text-align: center;
    }
    .divider {
        top:12rem;
    }
    .column {
        width:25rem;
    }
    footer {
        flex-direction:column;
        height:auto;
    }
    .infoFooter {
        flex-direction:column;
        width:fit-content;
    }
    .infoFooter p {
        margin-top:1rem;
    }
    .linksFooter {
        margin:1rem 0rem 1.5rem 0rem;
    }
    .linksFooter a {
        padding:0.2rem;
    }
    .direitosFooter {
        width:fit-content;
    }
}

@media (max-width:410px) {
    #textoWelcome {
        width: 20rem;
        margin:0;
    }
    .containerDados {
        width:21rem;
    }
    #imagemImovel {
        height: 10rem;
        width: 10rem;
        background-repeat: no-repeat;
    }
    /* #imagemCarro {
        height: 6.5rem;
    } */
    #imovelA {
        height: 10rem;
        width: 10rem;
    }
    /* #carroA {
        height: 6.5rem;
        width: 8.5rem;
    } */
    #labelImovel {
        width: 11rem;
        font-size: 1.15rem;
        margin-bottom: -2rem;
        /* transform: translate(-0.4rem, 1rem); */
    }
    #labelCarro {
        font-size: 1.15rem;
        margin-bottom: -2rem;
        /* transform: translate(0rem, 1rem); */
        text-align: center;
    }
    .column {
        width:22rem;
    }
    .direitosFooter {
        width:20rem;
    }
}

@media (max-width:355px) {
    #textoWelcome {
        width: 18rem;
        margin:0;
        margin-bottom: 1rem;
    }
    #textoWelcome h1 {
        font-size: 1.5rem;
        margin-bottom:2rem;
    }
    #textoWelcome h2 {
        font-size:0.75rem;
    }
    .containerDados {
        width:18.5rem;
        margin-bottom: 8rem;
    }
    #imovelImovel {
        height: 8rem;
        width: 8rem;
    }
    #imagemImovel {
        height: 8rem;
        width: 8rem;
        background-repeat: no-repeat;
    }
    #imagemCarro {
        height: 5rem;
        width: 6rem;
    }
    #imovelA {
        height: 8rem;
        width: 8rem;
    }
    #carroA {
        width: 6.8rem;
        transform: inherit;
    }
    #labelImovel {
        width: 10rem;
        font-size: 1rem;
        margin-bottom: -2rem;
        transform: translate(-0.7rem, 0rem);
    }
    #labelCarro {
        width: 7rem;
        font-size: 1rem;
        margin-bottom: -2rem;
        transform: translate(-0.2rem, 0.2rem);
        text-align: center;
    }
    #btnScroll {
        width:2.25rem;
        height:2.25rem;
        right:0.5rem;
        bottom:2rem;
    }
    .column {
        width:20rem;
    }
    .infoFooter p {
        font-size:0.75rem;
    }
    .direitosFooter {
        width:18rem;
    }
}
